@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --x-position-back: 20px;
    --x-position: -20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(var(--x-position));
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(var(--x-position-back));
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.open-chat {
    animation: fadeInUp 1s ease;
}
